* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.offcanvas-body .offcanvas-heade{
    flex-grow: 1;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    overflow-y: auto;
}

.offcanvas-body{
 --bs-offcanvas-padding-x: 3rem;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 720px;
    --bs-offcanvas-bg: #0A0A0A
    ;
}

.title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.options .number {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #202020;
    padding: 8px 15px;
    border-radius: 50%;
    text-align: center;
}


.options .link {
    font-weight: 500;
    font-size: 17px;
    color: #E2D5FF;
    text-decoration: underline;
    cursor: pointer;
}

.options .link a {
    font-weight: 500;
    font-size: 17px;
    color: #E2D5FF;
    text-decoration: underline;
    cursor: pointer;
}


.offcanvas-title {
    font-size: 24px;
}


.list {
    margin-top: -20px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 29px;
    color: #E2D5FF;
}

.btn-close {
    box-sizing: content-box;
    width: 10px;
    height: 20px;
    background: url(assets/first-card/arrow.svg) center/1em auto no-repeat;
    border: 0;
}

ul li{
    font-size: 20px;
    margin-left: 45px;
    margin-top: 10px;
}

.creators img {
    width: 500px;
    align-items: center;
}

button{
    padding: 15px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 15px;
    background-color: #7553E2;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 900px) {

    body {
        padding: 10px;
    }

    br {
        display: none;
    }

    .creators img {
        display: block;
        margin: 0 auto;
        object-fit: cover;
        max-width: 100%;
        margin-top: -40px;
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .carousel-inner h5{
        margin-top: -225px;
       padding: 0px 50px;
        font-size: 14px;
    }

    .carousel-inner .ms-5{
        display: none;
    }

    .ask-info h2 {
        font-size: 27px;
        margin-top: -25px;
        margin-bottom: 20px;
    }

    .ask-info p {
        font-size: 17px;
    }

    .container .logo {
        top: 12px;
        position: absolute;
    }

    .last {
        margin-bottom: 50px;
    }

    .title {
        font-size: 16px;
    }

    .options .link,
    .options .link a {
        font-size: 14px;
    }
    .carousel-item img{
        object-fit: cover;
    }
}