
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    background-color: black;
    color: white;
}
.ask-info h2{
font-weight: 500;
font-size: 32px;
}
.ask-info p{
font-size: 18px;
}
.title{
    font-size: 20px;
    font-weight: 500;
}
.options .number{
color: #FFFFFF;
font-weight:700;
background-color: #202020;
padding: 8px 15px;
border-radius: 50%;
text-align: center;
}

.number-carousel{
    color: #FFFFFF;
    font-weight:700;
    background-color: #202020;
    padding: 8px 13px;
    border-radius: 50%;
    text-align: center !important;
    }

.options .link {
    font-weight: 500;
    font-size: 17px;
    color: #E2D5FF;
    text-decoration: underline;
    cursor: pointer;
}
.options .link  a{
    font-weight: 500;
    font-size: 17px;
    color: #E2D5FF;
    text-decoration: underline;
    cursor: pointer;
}
.modal-content{
    background-color: #282828;
    padding: 30px;
}

.modal-dialog {
    max-width: 700px !important;
   
}

.carousel-indicators [data-bs-target]{
    display: none;
}

.content h1{
    font-size: 28px;
}
.content p{
    font-size: 16px;
    padding-bottom: 90px
}

.carousel-inner h5 {
    font-size: 1.25rem;
    position: fixed;
    z-index: 1;
    margin-top: -460px;
    margin-left: -100px;
    padding: 20px 0px;
    font-size: 15px;
    text-align: justify;
    line-height: 29px;
}
.list{
    margin-top: -30px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 29px;
    color: #E2D5FF;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
background-color: black;
border-radius: 50%;
}